<!DOCTYPE html>
<html lang="zh-TW">
  <%- include ClientApp/ejs/index_2/public/globalHead.ejs %>  
  <body>
    <%- include ClientApp/ejs/index_2/public/globalStyle.ejs %>  

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var css in
    htmlWebpackPlugin.files.css) { %>
    <link
      href="wwwroot/dist<%= htmlWebpackPlugin.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% } %>

    <!-- pre-setting vendor -->
    <%- include ClientApp/ejs/index_2/public/vendor.ejs %>

    <!-- path是相對於運行webpack的位置 -->
    <%- include ClientApp/ejs/index_2/public/header.ejs %>
    <!-- Here is our page's main content -->
    <main id="app">
      
      <section class="container">
        <div class="jqGridFunction">
          <button type="button" id="btn">取得被勾選的行</button>
          <button type="button" id="btn2">強制勾選(取消) 第13列資料</button>
          <button type="button" id="btn3">隱藏某欄位</button>
          <button type="button" id="btn4">顯示某欄位</button>
          <button type="button" id="btn5">全域搜尋</button>
          <button type="button" id="btn6">編輯選取欄位</button>
          <button type="button" id="btn7">新增資料</button>
          <button type="button" id="btn8">刪除資料</button>
          <button type="button" id="btn9">取消所有選取</button>
        </div>
        <div class="jqGridArea">
            <h1>jsGrid</h1>
            <table id="jqGrid"></table>  
            <div id="jqGridPager"></div>
            <span class="oi oi-person"></span>
          
            <hr>
            <table id="jqGrid2"></table>
            <div id="jqGridPager2"></div>
        </div>
      </section>

    </main>

    <!-- path是相對於運行webpack的位置 -->
    <%- include ClientApp/ejs/index_2/public/footer.ejs %>

    <%- include ClientApp/ejs/index_2/public/globalScript.ejs %> 

    <script src="<%= htmlWebpackPlugin.options.outputFile.vendor %>"></script>

    <%if (htmlWebpackPlugin.options.outputFile.isProd) {%> <% for (var chunk in
    htmlWebpackPlugin.files.chunks) { %>
    <script src="wwwroot/dist<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <%} else {%> <% for (var chunk in htmlWebpackPlugin.files.chunks) {
    %>
    <script src="http://localhost:<%= htmlWebpackPlugin.options.outputFile.port %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %> <% } %>

  </body>
</html>
